modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 41243422
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bun run dev"

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 24678
externalPort = 3000
